/* Importando as fontes e mostrando como elas devem ser utilizadas */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&display=swap');
/* font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Glitch', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */


/* Estilizando o header */

body {
  width: 100%;
  height: 100%;
  background: white;
  color: hsl(0, 60%, 72%);
  font-family: 'Rubik', sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    box-sizing: border-box;
}

#logo-alura {
    position: absolute;
    left: 50px;
}

#titulo {
    font-size: 40px;
    font-family: 'Rubik Glitch', cursive;
    text-align: center;
}


/* Estilizando os campos de texto / Conteudo principal */

main {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
}

#campo-inserir,
#campo-resposta {
    font-size: 32px;
    width: 600px;
    height: 500px;
    padding: 30px;
    border-radius: 50px;
    align-items: center;
    margin: 10px;
}

#campo-inserir {
    border: 1px solid #3b38c4;
    box-shadow: 0 0 20px #84A9AC;
    overflow: hidden;
}

#campo-resposta {
    background-color: #84A9AC;
    box-shadow: 0 0 20px #000000;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
}

.img-boneco {
    width: 335px;
    height: 305px;
    margin: 5px;
}

/* classe de estilização adicionada com javascript, para ocultar o elemento da página */
.invisivel {
    display: none;
}

#inserir-textarea {
    padding: 15px;
    width: 100%;
    height: 350px;
    font-size: 32px;
    color: #204051;
    background: none;
    border: none;
    resize: none;
    box-sizing: border-box;
}

#resposta-textarea {
    padding: 15px;
    width: 100%;
    height: 350px;
    font-size: 32px;
    color: #071A52;
    background: none;
    border: none;
    resize: none;
    box-sizing: border-box;
}

#inserir-textarea:focus {
    outline: none;
    border: 0.5px solid #20405144;
    border-radius: 15px;
}

#inserir-textarea::placeholder {
    color: #204051;
}

#resposta-textarea::placeholder {
    color: #071A52;
}

#ponto-exclamacao {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Estilizando os botões */

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #0F4C81;
    border: none;
    color: #49c476;
    font-size: 20px;
    box-shadow: 5px 5px 5px #000000;
    transition: 0.3s;
}

button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 10px #000000;
    filter: saturate(150%);
    color: #ffffff;
}

button:active {
    transform: scale(0.9);
    box-shadow: 1px 1px 1px #000000;
}

button:disabled {
    display: none;
}


/* Estilizações da scrollbar e seleção de texto */


/* Estilizando as scroolbar */
::-webkit-scrollbar {
    background-color: #c0ab35;
    border-radius: 50px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #204051;
}

/* Quando o texto for selecionado */
::selection {
    background-color: #17254d;
    color: #84A9AC;
}

#meus-creditos {
  margin-bottom: 10px;
}

#icones-redes-sociais {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.icone-rede-social {
  transition: 0.3s;
}

.icone-rede-social:hover {
  transform: scale(1.1);
}

#meus-creditos {
  margin-bottom: 10px;
}

#icones-redes-sociais {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

rodape

/* Criando estilos do rodapé da página */

footer {
    width: 100%;
    height: 300px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    background-color: #071A52;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

  
  
